{% import "bootstrap/wtf.html" as wtf %}
{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="nav-brand inline">
          <a href="#">
            <img class="brand-img" src="{{url_for('static', filename='image/pd-logo.png')}}" alt="p-logo">
          </a>
        </div>
        <div class="text-white inline">Apple's Device Enrollment Program</div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{session['username']}} <span class="caret"></span>
            </a> 
            <ul class="dropdown-menu"> 
              <li><a href="{{url_for('frontend.logout')}}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div style="height: 100%;">
      <div class="col-md-5 description">
        <h3>Overview</h3>
        <p>Device Enrollment is part of Apple Deployment Programs to help Businesses and Education customers easily deploy and manage iPad, iPhone, Apple TV and Mac. </p>
        <p>Device Enrollment provides a fast, streamlined way to deploy institutionally owned iPad, iPhone, Apple TV and Mac devices that are purchased from Apple or an authorized Reseller.</p>
        <hr>
        <div class="info">
          <p style="font-size: 16px;">This site works with Apple's Device Enrollment Program (DEP) API.</p>
          <p>It is meant to be used as a means for Apple Resellers to be able to enroll their customers' eligible Apple devices into the customer institution's DEP account. </p>
          <p>
            Please refer the DEP API 
              (<a href="https://applecareconnect.apple.com/api-docs/depuat/html/WSStart.html?user=reseller">UAT</a>, 
              <a href="https://applecareconnect.apple.com/api-docs/dep/html/WSReference.html?user=reseller">Production</a>
              ) for more details.
          </p>
        </div>
        <div class="note">
          <h4>Note:</h4>
          <p>Before an authorized reseller may begin enrolling devices for their customers, Apple must take both the reseller and the customer through an onboarding process AND sign-off on the reseller's implementation of the DEP API.<br>
          This is partially detailed in the <a href="https://applecareconnect.apple.com/api-docs/depuat/html/WSImpManual.html?user=reseller&id=1111&lang=EN">DEP Design Requirements.</a><br>
          Please contact your Apple representative for more information.
        </div>
      </div>
    </div>
  </div>
  <div class="tooltip"></div>
{%- endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/lib/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='js/lib/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lib/highcharts.js')}}"></script>
{% endblock %}