{% import "bootstrap/wtf.html" as wtf %}
{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="nav-brand inline">
          <a href="#">
            <img class="brand-img" src="{{url_for('static', filename='image/pd-logo.png')}}" alt="p-logo">
          </a>
        </div>
        <div class="text-white inline">Apple's Device Enrollment Program</div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{session['username']}} <span class="caret"></span>
            </a> 
            <ul class="dropdown-menu"> 
              <li><a href="{{url_for('frontend.logout')}}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div style="height: 100%;">
      <div class="col-md-5 description">
        <h3>Overview</h3>
        <p>Device Enrollment is part of Apple Deployment Programs to help Businesses and Education customers easily deploy and manage iPad, iPhone, Apple TV and Mac. </p>
        <p>Device Enrollment provides a fast, streamlined way to deploy institutionally owned iPad, iPhone, Apple TV and Mac devices that are purchased from Apple or an authorized Reseller.</p>
        <hr>
        <div class="info">
          <p style="font-size: 16px;">This site works with Apple's Device Enrollment Program (DEP) API.</p>
          <p>It is meant to be used as a means for Apple Resellers to be able to enroll their customers' eligible Apple devices into the customer institution's DEP account. </p>
          <p>
            Please refer the DEP API 
              (<a href="https://applecareconnect.apple.com/api-docs/depuat/html/WSStart.html?user=reseller">UAT</a>, 
              <a href="https://applecareconnect.apple.com/api-docs/dep/html/WSReference.html?user=reseller">Production</a>
              ) for more details.
          </p>
        </div>
        <div class="note">
          <h4>Note:</h4>
          <p>Before an authorized reseller may begin enrolling devices for their customers, Apple must take both the reseller and the customer through an onboarding process AND sign-off on the reseller's implementation of the DEP API.<br>
          This is partially detailed in the <a href="https://applecareconnect.apple.com/api-docs/depuat/html/WSImpManual.html?user=reseller&id=1111&lang=EN">DEP Design Requirements.</a><br>
          Please contact your Apple representative for more information.
        </div>
      </div>
      <div class="col-md-7">
        <div class="dep_form">
          <h1>Enroll Devices</h1>
          <div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="well">
                  Please fill out the following ALL contexts.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                DEP ENV
              </div>
              <div class="col-md-7">
                <select class="form-control" id="dep_env" name="dep_env">
                  <option value="UAT">UAT</option>
                  <option value="PROD">PROD</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                DEP SHIP TO
              </div>
              <div class="col-md-7">
                <input class="form-control" id="dep_ship_to" name="dep_ship_to" placeholder="0000052010">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                DEP Reseller ID
              </div>
              <div class="col-md-7">
                <input class="form-control" id="dep_reseller_id" name="dep_reseller_id" placeholder="16FCE4A0">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                DEP UAT CERT
              </div>
              <div class="col-md-7">
                <input class="form-control" id="dep_uat_cert" name="dep_uat_cert" placeholder="/path/to/acc/uat/cert.pem">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                DEP UAT Private Key
              </div>
              <div class="col-md-7">
                <input class="form-control" id="dep_uat_private_key" name="dep_uat_private_key" placeholder="/path/to/acc/uat/cert_private_key.pem">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                CustomerID
              </div>
              <div class="col-md-7">
                <input class="form-control" id="customer_id" name="customer_id" placeholder="19827" type="text" value="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                Order Type
              </div>
              <div class="col-md-7">
                <select class="form-control" id="order_type" name="order_type">
                  <option value="OR">OR (Enroll Devices)</option>
                  <option value="RE">RE (Un-enroll Devices)</option>
                  <option value="OV">OV (Override Order)</option>
                  <option value="VD">VD (Void Order)</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                Ship Date
              </div>
              <div class="col-md-7">
                <input class="form-control" id="ship_date" name="ship_date" type="date">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5">
                Device IDs, Asset Tags
                <div style="margin-top: 10px; font-size: 12px;">Device IDs are SN/IMEI/MEID</div>
                <div style="font-size: 12px;">Asset Tags are additional info about the devices</div>
              </div>
              <div class="col-md-7">
                <textarea class="form-control" id="devices" name="devices" placeholder="33645004YAM,A12354\n33615204YAM,A51683\n12645004IDN,A62141" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-5"></div>
              <div class="col-md-7">
                <button class="enroll-button normal allow" id="btn_enroll">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="enroll_result_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enroll Result</h4>
        </div>
        <div class="modal-body">
          <div class="enroll_result"></div>
          <pre class="enroll_response"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tooltip"></div>
{%- endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/lib/jquery-ui.js')}}"></script>
<script src="{{url_for('static', filename='js/lib/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lib/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='js/scripts.js')}}?v=2"></script>
{% endblock %}